.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.inputHolder{
  width: 30%;
  height: 30px;
  margin-top: 10px;
}

.btnSend:hover{
  cursor: pointer;
}

.btnSend{
  width: 30%; 
  height: 40px;
  margin-top: 10px;
  background-color: bisque;
  border: 0ch;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
